.content {
  background-color: var(--clr-bg-secondary);
  padding: 20px;
  border-radius: var(--r-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title {
      width: 40%;
    }

  }

  .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 102px;
  }

  .mid {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;

      .infoItem {
        width: 100%;
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .price {
        width: 40%;
      }

      .btn {
        width: 40%;
      }
    }
  }
}
