requests~=2.32.3
fastapi~=0.115.6
pydantic~=2.10.3
python-dotenv~=1.0.1
PyJWT~=2.10.1
cryptography~=44.0.0
starlette~=0.41.3
SQLAlchemy~=2.0.36
alembic~=1.14.0
pyotp~=2.9.0
httpx~=0.28.1
python-multipart~=0.0.20
