.container {
  margin-top: auto;
  background-color: var(--clr-bg-darkBlue);
  color: var(--clr-type-secondary);

  .content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;

      .socials {
        display: flex;
        align-items: center;
        gap: 16px;

        .social {
          font-size: var(--fz-lg);

          svg {
            fill: var(--clr-type-secondary);
            transition: var(--transition-default);

            &:hover {
              fill: var(--clr-type-gray);
            }
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 0.5px;
      background-color: var(--clr-type-gray);
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: var(--font-medium);

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 20px;
      }

      .links {
        color: var(--clr-type-secondary);
        display: flex;
        align-items: center;
        gap: 36px;
      }
    }
  }
}
