.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-section);

  .right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    z-index: 1;

    @media (max-width: 1420px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
      align-items: center;
    }

    .pros {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 62%;

      @media (max-width: 1420px) {
        width: 90%;
      }


      @media (max-width: 768px) {
        width: fit-content;
        align-items: flex-start;
        text-align: start;
      }

      .prosItem {
        display: flex;
        align-items: center;
        gap: 20px;

        .icon {
          background-color: var(--clr-bg-blue);
          border-radius: var(--r-md);
          padding: 20px;
        }

        .prosText {

          .title {
            font-size: var(--fz-md);
            font-weight: var(--font-medium);
          }

          .subTitle {
            color: var(--clr-type-gray);
          }
        }
      }
    }
  }

  .car {
    position: absolute;
    left: -12%;

    @media (max-width: 1420px) {
      width: 700px;
    }

    @media (max-width: 1085px) {
      width: 600px;
    }

    @media (max-width: 925px) {
      width: 500px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .placeholder {
    width: 50%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .bg {
    position: absolute;
    left: -5.5%;
    z-index: -1;

    @media (max-width: 1420px) {
      width: 400px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
