.content {
  background-color: var(--clr-bg-secondary);
  padding: 40px;
  border-radius: var(--r-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);

  .review {
    font-size: var(--fz-lg);
    font-weight: var(--font-medium);
    text-align: justify;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      .pfp {
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 100%;
      }

      .more {

        .name {
          font-weight: var(--font-semibold);
        }

        .city {
          color: var(--clr-type-secondary);
        }
      }
    }

    .quoteIcon {

    }
  }
}
